body {
  a: c;
}
body main {
  a: c;
}
body main img {
  a: c;
}
body main span {
  a: c;
}
body main span button {
  a: c;
}
body main p {
  a: c;
}
body div.wpopup {
  a: c;
}
body div.wpopup div.wrpaing {
  a: c;
}
body div.wpopup div.wrpaing img {
  a: c;
}
body div.wpopup div.wrpaing button {
  a: c;
}