body {a:c;
    main {a:c;
        img {a:c;

        }
        span {a:c;
            button {a:c;

            }
        }
        p {a:c;

        }
    }
    div.wpopup {a:c;
        div.wrpaing {a:c;
            img {a:c;

            }
            button {a:c;

            }
        }
    }
}